// * {
//     border: 1px solid red;
// }

body {
    background-color: $main-gray-1;
    color: $main-black;
    @include fontFam($font-regular);
    font-size: rems($root-font-size);
    line-height: rems(24);
    cursor: default;
}

@media screen and (max-width: rems(500)) {
    $root-font-size: 14;
    :root {
        font-size: rems($root-font-size);
    }
}

.container {
    background-color: $main-white;
    margin: 0 auto;
    max-width: rems($content-width);
    width: 100%;
}

img {
    max-width: 100%;
    height: 100%;

    @media screen and (max-width: rems(500)) {
        height: auto;
    }
}

.btn {
    border: 0;
    border-radius: rems(4);
    background: $main-yellow;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: $main-black;
    cursor: pointer;
    display: block;
    @include fontFam($font-bold, $font-arial);
    font-size: rems(24);
    line-height: rems(80);
    letter-spacing: rems(2);
    margin: 0 auto;
    max-width: rems(400);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 0.3s, color 0.3s;
    width: 100%;
    @media screen and (max-width: rems(500)) {
        max-width: rems(240);
        line-height: rems(40);
    }

    &:hover {
        box-shadow: 0 0 rems(15) rgba(0, 0, 0, 0.3);
        color: $blue-light;
    }

    &:active {
        box-shadow: none;
        color: $main-black;
    }

    &:focus {
        box-shadow: 0 0 rems(15) rgba(0, 0, 0, 0.3);
        color: blueviolet;
    }

    &:focus-within {
        box-shadow: none;
        color: $main-black;
    }
}

.error {
    position: relative;
}

.error .field {
    border-color: $blood-red;
}

.error-label {
    bottom: rems(41);
    color: red;
    display: block;
    @include fontFam($font-bold);
    left: 25%;
    position: absolute;
}