.delivery-payment {
    &__title {
        margin-top: rems(30);
    }

    &__item {
        border-top: rems(4) solid $main-gray-4;
        display: flex;
        justify-content: space-between;
        margin: 0;
        min-height: rems(204);
        // width: 100%;
        @media screen and (max-width: rems(500)) {
            align-items: center;
            flex-flow: column;
            padding: rems(10);
        }

        &:nth-child(odd) .delivery-payment__text {
            padding: 0 rems(20) 0 0;
            @media screen and (max-width: rems(500)) {
                padding: 0;
            }
        }

        &:nth-child(even) .delivery-payment__text {
            padding: 0 0 0 rems(20);
            @media screen and (max-width: rems(500)) {
                padding: 0;
            }
        }
    }

    &__item_reverse {
        flex-flow: row-reverse;
        @media screen and (max-width: rems(500)) {
            flex-flow: column;
        }
    }

    &__text {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        @media screen and (max-width: rems(500)) {
            flex-basis: 0;
        }

        p {
            padding: rems(10);
            @media screen and (max-width: rems(500)) {
                padding: 0 rems(10) rems(10) rems(10);
            }
        }

        &-title {
            color: $blue-light;
            @include fontFam($font-bold);
            margin: 0 0 rems(5);
        }
    }
}

.img-delivery {
    max-width: rems(220);
    width: 100%;
}